@page "/main"
@using Radzen
@using Radzen.Blazor

<RadzenDialog />

<PageTitle>Миграция данных в DirectumRX</PageTitle>

<div class="page-background-main">
    <RadzenComponents />
    <div class="card">
    <div class="card-header"><h3>Импорт из Excel</h3></div>
    <div class="card-body">
    
    <div class="row">
        <div class="col col-md-7">
            @* Выбор файла *@
            <label class="file-upload-label">Excel файл</label>
            <div class="file-upload-container mb-3">
        
                <RadzenUpload Accept=".xlsx,.xls,.odf,.ods,.csv"
                              Multiple="false"
                              ChooseText="Выбрать..."
                              Change="@OnFileUpload"
                              class="file-upload-control" />
                              
            </div>
        </div>
        <div class="col col-md-5">
            @* Выбор операции *@
            <div class="mb-3">
                <label class="form-label">Операция</label>
                <RadzenDropDown Data="@OperationItems"
                                @bind-Value="SelectedOperation"
                                Change="OnSelectedOperationChanged"
                                Placeholder="Выберите операцию с данными..."
                                Style="width:100%"
                                ValueProperty="Value"
                                TextProperty="DisplayName">
                </RadzenDropDown>

                <RadzenRequiredValidator TValue="string" Required="true" Text="Операция должна быть выбрана" />
            </div>
        </div>
    </div>
    
    @if(SelectedOperation != Data.Enums.OdataOperation.GrantAccessRightsToDocument && SelectedOperation != Data.Enums.OdataOperation.GrantAccessRightsToFolder)
    {
        <div class="row">
            <div class="col col-md-7">
                @* Выбор сущности     *@
                <div class="mb-3">
                    <label class="form-label">Сущность в Odata</label>
                    <RadzenDropDown TextProperty="Name"
                                    Data="@EntitySets"
                                    @bind-Value="SelectedEntitySet"
                                    Placeholder="Выберите сущность..."
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowClear="true"
                                    AllowFiltering="true"
                                    Style="width:100%"
                                    Change="OnSelectedEntitySetChanged">
                    </RadzenDropDown>

                    <RadzenRequiredValidator TValue="string" Required="true" Text="Сущность должна быть выбрана" />
                </div>
            </div>
            <div class="col col-md-5">
                @* Выбор ключа для всех связанных сущностей *@
                <div class="mb-3">
                    <label class="form-label">Поиск связанных сущностей по:</label>
                    <RadzenDropDown Data="@SearchEntityByList"
                                    @bind-Value="SearchCriteria"
                                    Placeholder="Выберите из списка..."
                                    Style="width:100%"
                                    ValueProperty="Value"
                                    TextProperty="DisplayName">
                    </RadzenDropDown>

                    <RadzenRequiredValidator TValue="string" Required="true" Text="Критерий поиска должен быть выбран" />
                </div>

            </div>
        </div>
    }
    
    <div class="row">
        <div class="col col-md-7">
            @* Контрол появляется только в том случае, если у выбранной сущности есть свойства-коллекции 
            и выбрана одна из операций работы со свойствами-коллекциями *@
            @if(CollectionProperties.Any() && (SelectedOperation == Data.Enums.OdataOperation.AddEntityToCollection || SelectedOperation == Data.Enums.OdataOperation.UpdateEntityInCollection))
            {
                @* Выбор свойства - коллекции     *@
                <div class="mb-3">
                    <label class="form-label">Свойство - коллекция</label>
                    <RadzenDropDown TextProperty="Name"
                                    Data="@CollectionProperties"
                                    @bind-Value="SelectedCollectionProperty"
                                    Placeholder="Выберите сущность..."
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowClear="true"
                                    AllowFiltering="true"
                                    Style="width:100%"
                                    Change="OnSelectedCollectionPropertyChanged">
                    </RadzenDropDown>
                </div>
            }

        </div>
        <div class="col col-md-5">
            <!-- 📊 Количество строк -->
            <div class="mb-3">
                <h5>Настройка обработки строк</h5>

                <div class="mb-2">
                    <label class="d-flex align-items-center mb-1" style="gap:5px;">
                        <RadzenCheckBox @bind-Value="UploadAllRows" TValue="bool" />
                        Обработать все строки
                    </label>
                    <label class="d-flex align-items-center" style="gap:5px;">
                        <RadzenCheckBox @bind-Value="ForceUploadProcessedRows" TValue="bool" />
                            В том числе уже обработанные
                    </label>
                </div>

                <div class="d-flex gap-4 mb-1">
                    <div class="d-flex flex-column">
                        <label>Начальная строка:</label>
                        <RadzenNumeric @bind-Value="StartFrom"
                                    Min="1"
                                    Max="@PreviewRows.Count"
                                    Disabled="@UploadAllRows"
                                    Style="width:120px;" />
                    </div>

                    <div class="d-flex flex-column">
                        <label>Количество строк:</label>
                        <RadzenNumeric @bind-Value="RowsToUpload"
                                    Min="1"
                                    Max="@PreviewRows.Count"
                                    Disabled="@UploadAllRows"
                                    Style="width:120px;" />
                    </div>


                </div>
                <small class="text-muted d-block mt-1">
                    Эти настройки применяются только если "Обработать все строки" выключено.
                </small>
            </div>
        </div>
    </div>

    @if (isProceed)
    {
        <div class="row d-flex justify-content-between">
            <div class="d-flex align-items-center progress-row">
                <p>
                    Прогресс выполнения операции
                </p>
                <RadzenProgressBar Value="@progress" Max="@maxRowsCount" Unit="@Unit" style="flex-grow: 1; min-width: 0;" />
                <button class="btn btn-danger ms-2" style="height: 2.5rem; flex-shrink: 0; width: auto;" @onclick="@CancelOperation">
                    Прервать
                </button>
            </div>
        </div>
    }
    
    @* Кнопки валидации и отправки на сервер    *@
    <div class="mb-3 d-flex justify-content-between w-60">
        <div>

            <button class="btn btn-outline-secondary mx-1"
                @onclick="Validate"
                disabled="@(ColumnMappings.Any(m => m.Value != null) == false)">
                Проверить
            </button>

            <button class="btn btn-primary mx-1"
                    @onclick="Upload"
                    disabled="@(ColumnMappings.Any(m => m.Value != null) == false)">
                Отправить
            </button>


        </div>

        <button class="btn btn-outline-secondary mx-1"
                @onclick="DownloadExcel"
                disabled="@(ColumnMappings.Any(m => m.Value != null) == false)">
            Скачать excel-отчет
        </button>

    </div>


    @if (PreviewRows.Any())
    {
         @* Предпросмотр таблицы     *@

        <RadzenDataGrid Data="@PreviewRows" 
                        @ref="@dataGrid"
                        TItem="Dictionary<string, string>" 
                        AllowColumnResize="true" 
                        AllowColumnReorder="true" 
                        AllowColumnPicking="true"
                        ColumnsText="выбор columns (колонок)"
                        ShowR
                        AllowPaging="true"
                        AllColumnsText="Все колонки"
                        ColumnsPickerAllowFiltering="true"
                        ColumnsShowingText="columns отображается"

                        PageSize="100" >

                <HeaderTemplate>
                    <button class="btn btn-outline-secondary" @onclick="RemoveMapping"> 
                        Очистить выбранные свойства
                    </button>
                </HeaderTemplate>

            <Columns>
                <RadzenDataGridColumn Width="50px" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        @(dataGrid.View.ToList().IndexOf(data) + 1)
                    </Template>
                </RadzenDataGridColumn>

                @foreach (var col in ExcelColumns)
                {
                    <RadzenDataGridColumn TItem="Dictionary<string,string>" Title="@col" Property="@col">
                        <HeaderTemplate>
                            <p>@col</p>
                            <RadzenDropDown Data="AvailableEntityFields"
                                            TextProperty="Name" 
                                            AllowClear="true"
                                            AllowFiltering="true"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            @bind-Value="ColumnMappings[col]"
                                            Placeholder="Выберите свойство...">

                                @* Кастомный шаблон для отображения элементов *@
                                    <Template Context="field">
                                        <div style="display:flex; flex-direction:column;">
                                            <span>@field.Name</span>
                                            <span style="color:gray; font-size:0.85em;">
                                                (@field.ShortType) Nullable:@(field.Nullable ? "Yes" : "No")
                                            </span>
                                        </div>
                                    </Template>  
                            </RadzenDropDown>
                        </HeaderTemplate>
                        <Template Context="data">
                            @data[col] 
                        </Template>
                    </RadzenDataGridColumn>
                }
            </Columns>
        </RadzenDataGrid>
    }

</div>
</div>
</div>